*.swp
*~
*#

# ignore HSBencher files
run_benchmarks.exe
.cabal-sandbox
cabal.sandbox.config
dist
bench_*.log*
results_*.dat*

*.so
depends/compiled/
src/_parser.log
src/bin/wsparse
src/compiled/
src/main/compiled/
src/main_r6rs.sls
src/main_r6rs/compiled/
src/parser/compiled/
src/ws/common.sls
src/ws/compat/compiled/
src/ws/compiled/
src/ws/compiler_components/compiled/
src/ws/grammars/compiled/
src/ws/langs/compiled/
src/ws/passes/analyze_data_rates/compiled/
src/ws/passes/compiled/
src/ws/passes/mlton_bkend/compiled/
src/ws/passes/normalize_query/compiled/
src/ws/passes/normalize_source/compiled/
src/ws/passes/ocaml_bkend/compiled/
src/ws/passes/ocaml_bkend/fftw2-0.2/.depend
src/ws/passes/optimizations/compiled/
src/ws/passes/static_elaborate/compiled/
src/ws/passes/wavescope_bkend/compiled/
src/ws/sim/compiled/
src/ws/testing/compiled/
src/ws/util/compiled/
svn_rev.txt

src/demos/wavescope/6sec_marmot_sample.raw
src/demos/wavescope/bar.o
apps/pipeline-web/data.txt
apps/pipeline-web/test_out.1
apps/pipeline-web/test_out.2
apps/pipeline-web/test_out.3
apps/stockticks/test_out.txt
